@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar {
    display: none;
  }

  body {
    font-family: 'Libre Baskerville', serif;
    @apply text-neutral-200 bg-black antialiased;
  }

  h1, h2, h3, h4 {
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: 0.02em;
    @apply font-medium;
  }

  @keyframes blindsDown {
    0% {
      max-height: 0;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: top;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      max-height: 500px;
      opacity: 1;
      transform: scaleY(1);
      transform-origin: top;
    }
  }

}